﻿@model Changelogs.Models.ICanHazAttachments

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <input type="hidden" id="type" name="type" value="@Model.GetTypeString()" />
    <input type="hidden" id="id" name="id" value="@Model.GetID()" />
    <h4>Anexo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Arquivo
        </dt>

        <dd>
            @Model.GetFileName()
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Voltar", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
            <input type="submit" value="Excluir" class="btn btn-danger" />
        </div>
    }
</div>
