﻿@model Taugor.PRT.Models.Product
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util

<tr>
    <td>
        @*@if (Model.HasAttachment)
            {
                <img src="@Url.Content(@Model.AttachmentUrl)" class="img-responsive"/>
            }*@

        @if (!Model.IsModule)
        {
            <span data-toggle="tooltip" title="Visualizar versões do produto">
                @Html.ActionLink(@Html.DisplayFor(modelItem => Model.Name).ToString(), "Product", "Version", new { id = Model.ProductId }, null)
            </span>
        }
        else
        {
            Html.Raw("<span>Hello World</span>");
        }
    </td>
    <td>
        <span data-toggle="tooltip" title="Visualizar versões do módulo">
            @Html.ActionLink(@Html.Raw(Model.ModuleName).ToHtmlString(), "Module", "Version", new { id = Model.ProductId }, null)
        </span>
    </td>
    <td>
        @{
            var version = Model.LatestVersion;
            if (version != null)
            {
                <span data-toggle="tooltip" title="Detalhes da versão">
                    @Html.ActionLink(@Html.DisplayFor(modelItem => version.FullVersion).ToString(), "Details", "Version", new { id = version.VersionId }, new { @class = "btn btn-default" })
                </span>
            }
        }
    </td>
    @*<td class="visible-md visible-lg">
            <span data-toggle="tooltip" data-placement="right" title="@Model.Description">
                @Model.ShortDescription
            </span>
        </td>*@
    @* Anexos *@

    @if (Request.IsAuthenticated)
    {
        <td>
            <a href="@Url.Action("Upload", "Attachment", new { type = "Products", itemId = Model.ProductId })" class="btn btn-warning" data-toggle="tooltip" title="Adicionar anexo para @Model.Name">
                <span class="glyphicon glyphicon-open"></span>
            </a>
            @if (Model.HasAttachment)
{
    <a href="@Url.Action("Download", "Attachment", new { type = "Products", itemId = Model.ProductId })" class="btn btn-success" data-toggle="tooltip" title="Baixar anexo de @Model.Name">
        <span class="glyphicon glyphicon-save"></span>
    </a>
    <a href="@Url.Action("Delete", "Attachment", new { type = "Products", itemId = Model.ProductId })" class="btn btn-danger" data-toggle="tooltip" title="Remover anexo de @Model.Name">
        <span class="glyphicon glyphicon-trash"></span>
    </a>
}
        </td>
    }

    @* Ações *@
    @if (Request.IsAuthenticated)
    {
        <td>
            <a href="@Url.Action("Edit", new { id = Model.ProductId })" class="btn btn-warning" data-toggle="tooltip" title="Editar @Model.Name">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a href="@Url.Action("Delete", new { id = Model.ProductId })" class="btn btn-danger" data-toggle="tooltip" title="Excluir @Model.Name">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
            @if (Model.Parent == null)
            {
                <a href="@Url.Action("Create", new { BaseId = Model.ProductId })" class="btn btn-info">
                    Criar Módulo
                </a>
            }
        </td>
    }

    @* Versões *@
    <td>
        @if (Request.IsAuthenticated)
        {
            <a href="@Url.Action("Create","Version", new { ProductId = Model.ProductId })" class="btn btn-warning" data-toggle="tooltip" title="Criar Nova Versão para @Model.Name">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a href="@Url.Action("Module", "Version", new { id = Model.ProductId })" class="btn btn-success" data-toggle="tooltip" title="Visualizar Versões de @Model.Name">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            
        }
        @if (Model.Roadmap != null)
        {
            <a href="@Url.Action("Roadmap", "Product", new { id = Model.ProductId })" class="btn btn-info" data-toggle="tooltip" title="Visualizar Roadmap de @Model.Name">
                <span class="glyphicon glyphicon-road"></span>
            </a>
            
        }
    </td>
</tr>
