﻿@model IEnumerable<Taugor.PRT.Models.Product>
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produtos</h2>

@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Novo Produto/Módulo", "Create", new { }, new { @class = "btn btn-primary" })
    </p>
}
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Módulo
        </th>
        <th>
            Última Versão
        </th>
        @*<th class="visible-md visible-lg">
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        @if (Request.IsAuthenticated)
        {
            <th>
                Anexo
            </th>
            <th>
                Ações
            </th>
        }

        <th>
            Versões
        </th>

    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("_ListEntry", item)
        foreach (var module in item.Modules)
        {
            @Html.Partial("_ListEntry", module)
        }
    }

</table>
