﻿@model IEnumerable<Taugor.PRT.Models.Product>
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>
        @Model.First().Name
    </h2>
    <h4>
        Módulos
    </h4>
    @foreach (var p in Model)
    {
    var v = p.LatestVersion;
    var src = "https://alicarnold.files.wordpress.com/2009/11/new-product.jpg";
    if (p.HasAttachment)
    {
        src = @Url.Content(@p.AttachmentUrl);
    }
    <div class="col-xs-12 visible-xs visible-sm" style="margin-bottom: 20px; float:left;">
        <div class="col-xs-8">
            <h3 style="float: left; margin: 0px; width: 100%;">
                <img class="img-circle" style="width: 96px; float: left; margin-right: 20px;" src="@src" />

                <a href="@Url.Action("Module", "Version", new { id = p.ProductId })" style="line-height: 32px;">
                    @p.ModuleName
                </a>
                <br />
                <small>@p.ModuleDescription</small>
            </h3>
            <h4 style="float: left; margin: 0px; width: 100%"></h4>
        </div>
        <div class="col-xs-4" style="line-height:48px;">
            @{
                if (v != null)
                {
            <a href="@Url.Action("Details", "Version", new { id = @v.VersionId })" class="btn btn-info" style="width: 100%">
                @v.FullVersion
            </a>
                }
                else
                {
            <span class="btn btn-info" style="width: 100%">
                N/D
            </span>
                }
            }
            <a href="@Url.Action("Details", "Version", new { id = @p.Roadmap.VersionId })" class="btn btn-info" style="width: 100%">
                @p.Roadmap.FullVersion
            </a>
        </div>
        <hr />
    </div>
    <div class="hidden-xs hidden-sm col-md-2 home-product">
        <div>
            <img src="@src" class="img-circle img-responsive" />
        </div>
        <div>
            <h3>
                <a href="@Url.Action("Module", "Version", new { id = p.ProductId })">
                    @p.ModuleName
                </a>
            </h3>
            <div class="visible-xs visible-md visible-lg">
                @p.ModuleDescription
            </div>
            <div style="margin-top: 20px; line-height:48px;">
                @{
                if (v != null)
                {
                <a href="@Url.Action("Details", "Version", new { id = @v.VersionId })" class="btn btn-info">
                    @v.FullVersion
                </a>
                }
                else
                {
                <span class="btn btn-info">
                    N/D
                </span>
                }
                }
                <a href="@Url.Action("Details", "Version", new { id = @p.Roadmap.VersionId })" class="btn btn-info" style="width: 100%">
                    @p.Roadmap.FullVersion
                </a>
            </div>
        </div>

    </div>
    }
</div>