﻿@model Taugor.PRT.Models.Product
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h4>Product</h4>
<hr />

@{
    if (Model.Roadmap != null)
    {
        <div id="ver_@Model.Roadmap.FullVersionUnderscore"></div>
        <script>

            $(document).ready(function () {
                $("#ver_@Model.Roadmap.FullVersionUnderscore").load('@Url.Action("Details", "Version", new { id = -Model.Roadmap.VersionId })')
            });
        </script>
        
    }
    else
    {
        <span>Não há Roadmap para esse produto</span>
    }

}

<p>
    @Html.ActionLink("Voltar", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
</p>
