﻿@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2 class="h2">Produtos</h2>
    <div class="col-xs-12 visible-xs visible-sm">
        <hr class="home-product-xs" />
    </div>

    @foreach (Product p in ViewBag.Products)
    {
        var v = p.LatestVersion;
        var src = "https://alicarnold.files.wordpress.com/2009/11/new-product.jpg";
        if (p.HasAttachment)
        {
            src = @Url.Content(@p.AttachmentUrl);
        }

        /* XS and SM */
        <a href="@Url.Action("Modules", "Product", new { id = p.ProductId })" class="col-xs-12 visible-xs visible-sm home-product-xs">
            <div class="col-xs-12 visible-xs visible-sm home-product-xs">
                <div class="col-xs-12">
                    <h3 style="float: left; margin: 0px; width: 100%; line-height: 32px;">
                        <img class="svg img-circle product-xs" src="@src" />
                        @p.Name
                        <br />
                        <small>@p.ShortDescription</small>
                    </h3>
                </div>
            </div>
        </a>
        <div class="col-xs-12 visible-xs visible-sm">
            <hr class="home-product-xs" />
        </div>

        /* MD and LG */
        <div class="hidden-xs hidden-sm col-md-3 home-product">
            <a class="home-product" href="@Url.Action("Modules", "Product", new { id = p.ProductId })">
                <img src="@src" class="svg img-circle img-responsive" />
                <div>
                    <h3>
                        @p.Name
                    </h3>
                </div>
            </a>
            <div class="visible-xs visible-md visible-lg">
                @p.ShortDescription
            </div>
        </div>
    }
</div>
<div class="row">
    <h2>Últimas Atualizações</h2>
    <div class="col-xs-12 visible-xs visible-sm">
        <hr class="home-product-xs" />
    </div>
    @foreach (Taugor.PRT.Models.Version v in ViewBag.Versions)
    {
        var p = v.Product;
        var src = "https://alicarnold.files.wordpress.com/2009/11/new-product.jpg";
        if (p.HasAttachment)
        {
            src = @Url.Content(@p.AttachmentUrl);
        }
        /* XS and SM */
        <a class="col-xs-12 col-md-6 home-product-xs" href="@Url.Action("Details", "Version", new { id = v.VersionId })">
            <div class="col-xs-12 home-product-xs">
                <div class="col-xs-12">
                    <h3 style="float: left; margin: 0px; width: 100%; line-height: 32px;">
                        <img class="img-circle" style="width: 64px; float: left; margin-right: 20px;" src="@src" />
                        @p.Name
                        <br />
                        <small>@v.FullVersion - @v.ReleaseDate.Value.ToString("dd/MM/yyyy")</small>
                    </h3>
                </div>
            </div>
        </a>
        <div class="col-xs-12 visible-xs visible-sm">
            <hr class="home-product-xs" />
        </div>
    }
</div>
