﻿@model Taugor.PRT.Models.Change
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Change</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Version.ProductId)
        </dt>
        <dd>
            <span data-toggle="tooltip" title="Detalhes do Produto">
                @Html.ActionLink(@Html.DisplayFor(model => model.Version.Product.Name).ToString(), "Details", "Product", new { id = Model.Version.ProductId }, null)
            </span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version.FullVersion)
        </dt>

        <dd>
            <span data-toggle="tooltip" title="Detalhes da Versão">
                @Html.ActionLink(@Html.DisplayFor(model => model.Version.FullVersion).ToString(), "Details", "Version", new { id = Model.VersionId }, null)
            </span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visibility)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>



    </dl>
</div>
<p>

    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.ChangeId }) <span>|</span>
    }
    @Html.ActionLink("Voltar", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
</p>
