﻿@model IEnumerable<Taugor.PRT.Models.Change>
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Nova Alteração", "Create", new { }, new { @class = "btn btn-primary" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Version.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version.FullVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visibility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Version.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version.FullVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Ver Detalhes", "Details", new { id = item.ChangeId }, new { @class = "btn btn-info" })
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.ChangeId }, new { @class = "btn btn-warning" })
                }
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Excluir", "Delete", new { id = item.ChangeId }, new { @class = "btn btn-danger" })
                }
            </td>
        </tr>
    }

</table>
