﻿@model Taugor.PRT.Models.RequestMessage
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util
@using System.Text.RegularExpressions

<div class="panel @(@Model.AuthorId != @Model.Request.AuthorId ? "panel-primary" : "panel-default")">
    <div class="panel-heading">
        <div class="panel-title pull-left">
            <div><b>@Html.DisplayFor(model => model.Author.Name)</b> - @Model.Author.Company.TradingName</div>
            <div><small>@Model.Author.Job</small></div>
        </div>
        <div class="panel-title pull-right">
            @Html.DisplayFor(model => model.Created)
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        @{
            var msg = @Model.Message
                .Replace("\r", string.Empty)
                .Replace("\n", "<br />");
        }
        @Html.Raw(string.Format("<{0}>{1}</{0}>", "div", msg))

    </div>

</div>
