﻿@model Taugor.PRT.Models.ViewModels.RequestCreateVM
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util
@{
    ViewBag.Title = "Novo Chamado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chamado</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Novo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AuthorId)


        @* TODO: Adicionar mensagem: Informe seu email e selecione todos os produtos e módulos que deseja receber as atualizações *@

        <div class="form-group">
            @Html.LabelFor(model => model.TypeIds, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.ListBox("RequestType", (IEnumerable<SelectListItem>)ViewBag.Type, new { @class = "selectpicker", @data_live_search = true, @multiple = true })*@
                @Html.ListBoxFor(model => model.TypeIds, (IEnumerable<SelectListItem>)ViewBag.Type, new { @class = "selectpicker", @data_live_search = true, @multiple = true })
                @Html.ValidationMessageFor(model => model.TypeIds)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductIds, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.ProductIds, (IEnumerable<SelectListItem>)ViewBag.Products, new { @class = "selectpicker", @data_live_search = true, @multiple = true })
                @Html.ValidationMessageFor(model => model.ProductIds)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { @class = "text-box multi-line form-control" })
                @Html.ValidationMessageFor(model => model.Message)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
}
