﻿@model Taugor.PRT.Models.Request
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util
@{
    ViewBag.Title = "Chamados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var db = new Taugor.PRT.Models.DBContext.TaugorPRTContext();
    var user = db.Users.Where(k => k.Username == User.Identity.Name).FirstOrDefault();
}

<h2>Chamado</h2>
<h4>@Model.Identifier</h4>

<div>
    @foreach (var msg in Model.Messages)
    {
        <div class="row">
            <div class="col-xs-10 @(@user.UserId != msg.AuthorId ? "pull-left" : "pull-right")">
                @Html.Partial("_Message", msg)
            </div>
        </div>
    }
    @if (Model.CurrentState == RequestState.Running || Model.CurrentState == RequestState.NotStarted)
    {
        <div class="pull-right">
            @Html.ActionLink("Responder", "Reply", new { identifier = @Model.Identifier }, new { @class = "btn btn-primary" })
        </div>
        <div class="clearfix"></div>
    }

</div>
