﻿@model Taugor.PRT.Models.ViewModels.RequestEditVM
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util

@{
    ViewBag.Title = "Editar Chamado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chamado</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RequestId)

        <div class="form-group">
            @Html.LabelFor(model => model.AssignedUserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AssignedUserId, MVCSelectHelper.GetSelectList((IEnumerable<User>)ViewBag.Users, Model.AssignedUserId.ToString()))
                @Html.ValidationMessageFor(model => model.AssignedUserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentState, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CurrentState, MVCSelectHelper.GetSelectList<RequestState>(((int)Model.CurrentState).ToString()))
                @Html.ValidationMessageFor(model => model.CurrentState)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.Type, (IEnumerable<SelectListItem>)ViewBag.Type, new { @class = "selectpicker", @data_live_search = true, @multiple = true })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Products, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.Products, (IEnumerable<SelectListItem>)ViewBag.Products, new { @class = "selectpicker", @data_live_search = true, @multiple = true })
            </div>
        </div>*@

        <div class="row">
            <div class="col-xs-12 col-md-push-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
            <div class="col-xs-12 col-md-pull-10 col-md-2">
                <div class="visible-xs visible-sm" style="margin-top: 20px;"></div>
                @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default form-control" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
}
