﻿@model IEnumerable<Taugor.PRT.Models.Request>
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util

@{
    var db = new Taugor.PRT.Models.DBContext.TaugorPRTContext();
    var user = db.Users.Where(k => k.Username == User.Identity.Name).FirstOrDefault();

    RequestState? state = ViewBag.state;
    int? author = ViewBag.authorId;
    int? assigned = ViewBag.assignedId;
    int? company = ViewBag.assignedId;
    User Author = ViewBag.Author;
    User Assigned = ViewBag.Assigned;
    Company Company = ViewBag.Company;

}

@{
    ViewBag.Title = "Chamados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chamados</h2>

@if (Request.IsAuthenticated)
{

}


    @*<div class="col-xs-12">
            <div class="pull-right">
                @if (user.Type <= UserType.Support)
                {
                    <b>Filtro:</b>
                    if (assigned == user.ID)
                    {
                        int? all = null;
                        @Html.ActionLink("Todos chamados", "Index", new { @state = state, @author = author, @assigned = all, }, new { @class = "btn btn-link" })
                    }
                    else
                    {
                        @Html.ActionLink("Meus chamados", "Index", new { @state = state, @author = author, @assigned = user.ID, }, new { @class = "btn btn-link" })
                    }

                    foreach (var s in Enum.GetValues(typeof(RequestState)))
                    {
                        @Html.ActionLink(
                        EnumHelper.GetDescription((RequestState)s),
                        "Index", new { @state = s.ToString(), @author = author, @assigned = assigned }, new { @class = "btn btn-link" })
                    }
                }
            </div>
            <div class="clearfix"></div>
        </div>*@

    <div class="col-xs-12">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="filterIdentifier">Código</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">RQ</span>
                        <input type="text" id="filterIdentifier" class="filterInput" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="filterCompany">Empresa</label>
                <div class="col-sm-10">
                    <input type="text" id="filterCompany" class="filterInput" @(Company != null ? string.Format("disabled value={0}", Company.TradingName) : string.Empty) />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="filterAuthor">Autor</label>
                <div class="col-sm-10">
                    <input type="text" id="filterAuthor" class="filterInput" @(Author != null ? string.Format("disabled value={0}", Author.Name) : string.Empty) />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="filterAssignedUser">Responsável</label>
                <div class="col-sm-10">
                    <input type="text" id="filterAssignedUser" class="filterInput" @(Assigned != null ? string.Format("disabled value={0}", Assigned.Name) : string.Empty) />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="filterAssignedUser">Situação</label>
                <div class="col-sm-10">
                    <select id="filterState" class="filterInput" @(state.HasValue ? " disabled" : string.Empty)>
                        @{
                            if (state.HasValue)
                            {
                                var value = EnumHelper.GetDescription((RequestState)state);
                                <option selected value="@value">@value</option>
                            }
                            else
                            {
                                <option value=""></option>
                                foreach (var s in Enum.GetValues(typeof(RequestState)))
                                {
                                    var value = EnumHelper.GetDescription((RequestState)s);
                                    <option value="@value">@value</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-left">
        <p>
            @Html.ActionLink("Novo Chamado", "Create", new { }, new { @class = "btn btn-primary" })
        </p>
        <div class="clearfix"></div>
    </div>
    <table class="table table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Identifier)
                </th>
                <th>
                    Itens
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdate)
                </th>

                @if (user.Type <= UserType.Support)
                {
                    <th class="company">
                        @Html.DisplayNameFor(model => model.Author.Company)
                    </th>
                    <th class="author">
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssignedUser)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.CurrentState)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="search-result-item@(item.CurrentState == RequestState.Finished ? " success" : item.CurrentState == RequestState.CancelledByUser ? " warning" : item.CurrentState == RequestState.CancelledBySupport ? " danger" : item.CurrentState == RequestState.Running ? " info" : string.Empty)">
                    <td class="identifier">
                        <b>@Html.DisplayFor(modelItem => item.Identifier)</b>
                    </td>
                    <td>
                        <div class="btn btn-info btn-sm" data-toggle="tooltip" title="Mensagens">
                            <span class="glyphicon glyphicon-comment"></span>
                            <span class="badge">@Html.DisplayFor(modelItem => item.Messages.Count)</span>
                        </div>
                        <div class="btn btn-success btn-sm" data-toggle="tooltip" title="Produtos">
                            <span class="glyphicon glyphicon-cog"></span>
                            <span class="badge">@Html.DisplayFor(modelItem => item.Products.Count)</span>
                        </div>
                        <div class="btn btn-warning btn-sm" data-toggle="tooltip" title="Tipos">
                            <span class="glyphicon glyphicon-tags"></span>
                            <span class="badge">@EnumHelper.CountFlagsSetBits(item.Type)</span>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdate)
                    </td>
                    @if (user.Type <= UserType.Support)
                    {
                        <td class="company">
                            @Html.DisplayFor(modelItem => item.Author.Company.TradingName)
                        </td>
                        <td class="author">
                            @Html.DisplayFor(modelItem => item.Author.Name)
                        </td>
                        <td class="assignedTo">
                            @Html.DisplayFor(modelItem => item.AssignedUser.Name)
                        </td>
                    }
                    <td class="state">
                        @EnumHelper.GetDescriptionOrDefault(item.CurrentState)
                    </td>
                    <td>

                        <a href="@Url.Action("Details", new { identifier = item.Identifier })" class="btn btn-info" data-toggle="tooltip" title="Ver Detalhes">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        @if (user.Type < UserType.Support)
                        {
                            <a href="@Url.Action("Edit", new { identifier = item.Identifier })" class="btn btn-warning" data-toggle="tooltip" title="Editar">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        }
                        else if (user.Type == UserType.Support)
                        {
                            var canTake = (item.CurrentState == RequestState.Running || item.CurrentState == RequestState.NotStarted)
                                && item.AssignedUserId != user.ID
                                && !(item.AssignedUser != null && item.AssignedUser.Type < @user.Type);
                            <a href="@Url.Action("TakeRequest", new { identifier = item.Identifier })" class="btn btn-warning" data-toggle="tooltip" title="Assumir Chamado" @(!canTake ? " disabled" : string.Empty)>
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        }
                        @{
                var canCancel =
                    !(item.CurrentState != RequestState.NotStarted
                    && item.CurrentState != RequestState.Running)
                    && (item.AuthorId == user.ID
                        || !(item.AssignedUser != null && item.AssignedUser.Type < @user.Type));

                        }
                        <a href="@Url.Action("Cancel", new { identifier = item.Identifier })" class="btn btn-danger" data-toggle="tooltip" title="Cancelar"
                           @(!canCancel ? "disabled" : string.Empty)>
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>


    <script>
        function filter(item, val) {
            return val.length == 0 ? true : item.indexOf(val) != -1;
        }

        function validate() {
            $(".search-result-item").each(function (index, element) {
                if (
                    filter($(element).find(".identifier").find("b").html(), $("#filterIdentifier").val())
                    && filter($(element).find(".company").html(), $("#filterCompany").val())
                    && filter($(element).find(".author").html(), $("#filterAuthor").val())
                    && filter($(element).find(".assignedTo").html(), $("#filterAssignedUser").val())
                    && filter($(element).find(".state").html(), $("#filterState").val())
                    ) {
                    $(element).show();
                } else {
                    $(element).hide();
                }
            });
        }

        $(".filterInput").keyup(validate).change(validate);

    </script>
