﻿@model Taugor.PRT.Models.RequestMessage
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util

@{
    var db = new Taugor.PRT.Models.DBContext.TaugorPRTContext();
    var user = db.Users.Where(k => k.Username == User.Identity.Name).FirstOrDefault();
}

@{
    ViewBag.Title = "Responder Chamado - " + Model.Identifier;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chamado</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>@Model.Request.Identifier</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AuthorId)
        @Html.HiddenFor(model => model.RequestId)
        @Html.Partial("_Message", @Model.Request.Messages.LastOrDefault())

        <div class="form-group">
            @*@Html.LabelFor(model => model.Message, new { @class = "control-label" })*@
            <label class="control-label" for="Message">Resposta</label>
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
            @*<div class="col-md-10">
                </div>*@
        </div>
        <div class="row">
            @{
    var canFinalize = user != null && user.ID == Model.Request.AssignedUserId && Model.Request.CurrentState == RequestState.Running;
            }
            <div class="col-xs-12 col-md-push-2 @(canFinalize ? "col-md-5" : "col-md-10")">
                <input type="submit" value="Responder" class="btn btn-primary" />
            </div>
            @if (canFinalize)
            {
                <div class="col-xs-12 col-md-push-2 col-md-5">
                    <input type="submit" value="Responder e Finalizar" class="btn btn-primary" />
                </div>
            }
            <div class="col-xs-12 col-md-pull-10 col-md-2">
                <div class="visible-xs visible-sm" style="margin-top: 20px;"></div>
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default form-control" })
            </div>
        </div>


    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
}
