﻿@model Taugor.PRT.Models.ViewModels.UserLoginVM

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}
<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

        .form-signin .form-signin-heading, 
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        #UserName {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        #Password {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-signin">
        @Html.ValidationSummary(true)
        <h2 class="form-signin-heading">Please sign in</h2>
        @Html.LabelFor(model => model.Username, new { @class = "sr-only" })
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)

        @Html.LabelFor(model => model.Password, new { @class = "sr-only" })
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
  
        <div class="checkbox">
            <label>
                @Html.EditorFor(model => model.RememberMe)
                @Html.LabelFor(model => model.RememberMe)
            </label>
        </div>
        <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />
    </div>
}




<script>
    $("input").not("input[type=checkbox]").addClass("form-control")
    $("#UserName").attr("placeholder", "Username");
    $("#Password").attr("placeholder", "Password");
</script>
