﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Portal Relacionamento Taugor</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Taugor Changelogs", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            @Html.Partial("_Navbar")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Taugor Corporation</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/forms")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/svg")*@
    @RenderSection("scripts", required: false)
    @*<script>
        $(document).ready(function () {
            setTimeout(function () { $('[data-toggle="tooltip"]').tooltip(); }, 1000);
        });
    </script>*@
</body>
</html>
