﻿@using Taugor.PRT.Models
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Models.DBContext
@{
    var db = new TaugorPRTContext();
    var user = db.Users.Where(k => k.Username == User.Identity.Name).FirstOrDefault();
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        @if (Request.IsAuthenticated && user != null)
        {
            if (user.Type <= UserType.Internal)
            {
                <li>@Html.ActionLink("Produtos", "Index", "Product")</li>
                <li>@Html.ActionLink("Versões", "Index", "Version")</li>
                <li>@Html.ActionLink("Mudanças", "Index", "Change")</li>
            }
            if (user.Type <= UserType.Support)
            {
                <li>@Html.ActionLink("Usuários", "Index", "User")</li>
            }
            <li>@Html.ActionLink("Chamados", "Index", "Request")</li>

            if (user.Type >= UserType.Partner)
            {
                <li>@Html.ActionLink("Sobre a Taugor", "About", "Home")</li>
                <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
            }
        }
        else
        {
            <li>@Html.ActionLink("Sobre a Taugor", "About", "Home")</li>
            <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
        }
    </ul>
    <ul class="nav navbar-nav navbar-right">
        @if (Request.IsAuthenticated && user != null)
        {
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> @User.Identity.Name</a></li>
            <li><a href="@Url.Action("Logoff", "Account")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        }
        else
        {
            <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        }
    </ul>
</div>

