﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.ProductName</h3>
<div>
    @{
        var versions = (Changelogs.Models.Changelogs.Version[])@ViewBag.versions;
        <div id="teste"></div>
        foreach(var version in versions)
        {
            Html.RenderAction("Version", new { product = @ViewBag.ProductName, fullVersion = @version.FullVersionUnderscore, mode = 1 });
        }
    }
</div>

