﻿@model Changelogs.Models.Changelogs.Version

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ProductName</h2>

<div>
    @if (@ViewBag.Mode == 0)
    {
        <h3>@Model.ProductName</h3>
    }
    @{
        <div class="panel panel-default">
            <div class="panel-heading">
                @Model.FullVersion
            </div>
            <div class="panel-body">
                <div><b>Status da versão:</b> @Model.Type</div>
                @if (Model.Released)
                {
                    <div><b>Data de Publicação:</b> @Model.ReleaseDate.ToString("dd/MM/yyyy")</div>
                }
                else
                {
                    <div><b>Plano de Publicação</b> @Model.PlannedReleaseDate.ToString("dd/MM/yyyy")</div>
                }
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 150px;">Tipo</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (Changelogs.Models.Changelogs.Change change
                                        in Model.Changes
                                            //.Where(k => k.Visibility == Changelogs.Models.Changelogs.Visibility.Public)
                                        )
                        {
                            <tr>
                                <td>@change.Type</td>
                                <td>@change.Description</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VersionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
