﻿@{
    ViewBag.Title = "Latest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.ProductName</h3>
<div>
    @{
        var version = (Changelogs.Models.Changelogs.Version)@ViewBag.Latest;

        Html.RenderAction("Version", new { product = @ViewBag.ProductName, fullVersion = @version.FullVersionUnderscore, mode = 1 });

    }
</div>