﻿
@if(@ViewBag.Mode == 0){
    <h3>@ViewBag.ProductName</h3>
}
@{
    var version = (Changelogs.Models.Changelogs.Version)@ViewBag.Version;
    <div class="panel panel-default">
        <div class="panel-heading">
            @version.FullVersion
        </div>
        <div class="panel-body">
            <div><b>Status da versão:</b> @version.Type</div>
            @if (version.Released)
            {
                <div><b>Data de Publicação:</b> @version.ReleaseDate.ToString("dd/MM/yyyy")</div>
            }
            else
            {
                <div><b>Plano de Publicação</b> @version.PlannedReleaseDate.ToString("dd/MM/yyyy")</div>
            }
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 150px;">Tipo</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Changelogs.Models.Changelogs.Change change
                                    in version.Changes
                                        .Where(k => k.Visibility == Changelogs.Models.Changelogs.Visibility.Public)
                                    )
                    {
                        <tr>
                            <td>@change.Type</td>
                            <td>@change.Description</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
