﻿
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    width: 100%;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.home-product {
    text-align: center;
    margin-bottom: 50px;
}

    .home-product .img-responsive {
        display: inline !important;
        width: 100%;
    }


hr.home-product-xs {
    margin: 0px;
    float: left;
    width: 100%;
}

a.home-product-xs {
    float: left;
}

    a.home-product-xs > div {
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    a.home-product-xs:hover > div {
        background-color: #E4E4E4;
    }

    a > svg.svg g[id="Camada_1"] circle.st0,
    a.home-product-xs svg.svg g[id="Camada_1"] circle.st0,
    a.home-product,
    a.home-product-xs {
        transition: all ease .25s;
    }

    a.home-product:hover,
    a.home-product-xs:hover{
        color: #333;
    }
    a:hover > svg.svg g[id="Camada_1"] circle.st0,
    a.home-product-xs:hover svg.svg g[id="Camada_1"] circle.st0 {
        fill: #333;
    }

    .product-xs{
        width: 96px; float: left; margin-right: 20px;
    }


h2, .h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
}

@media (max-width: 992px) {
    h2, .h2, h4, .h4 {
        text-align: center; 
    }
}


textarea { 
    overflow-y: scroll;
    resize: none;
}

@media (min-width: 992px) {
    textarea {
        height: 200px !important;
    }
}
    

/*.home-product-xs:hover a.home-product-xs {
    background-color: #E4E4E4;
}*/
