﻿@model IEnumerable<Changelogs.Models.Subscription>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { email=item.Email }) |
            @Html.ActionLink("Details", "Details", new { email = item.Email }) |
            @Html.ActionLink("Delete", "Unsubscribe", new { email = item.Email, token = item.Token })
        </td>
    </tr>
}

</table>
