﻿@model Changelogs.Models.Changelogs.Change

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Change</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ChangeId)

        <div class="form-group">
            @Html.LabelFor(model => model.VersionId, "Versão", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VersionId", String.Empty)
                @Html.ValidationMessageFor(model => model.VersionId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Type,
                    Enum.GetValues(Model.Type.GetType())
                        .Cast<Changelogs.Models.Changelogs.ChangeType>()
                        .Select(c => new SelectListItem
                        {
                            Text = c.ToString(),
                            Value = ((int)c).ToString()
                        })
                 )
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Visibility, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Visibility,
                    Enum.GetValues(Model.Type.GetType())
                    .Cast<Changelogs.Models.Changelogs.Visibility>()
                        .Select(c => new SelectListItem
                        {
                            Text = c.ToString(),
                            Value = ((int)c).ToString()
                        })
                 )
                @Html.ValidationMessageFor(model => model.Visibility)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $("select").addClass("form-control");
    $("input").addClass("form-control");
</script>