﻿@model Taugor.PRT.Models.Version
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util


<div class="panel panel-default">
    <div class="panel-heading">
        <span>@Model.Reference</span>
        @if (Request.IsAuthenticated)
        {
            <span style="float:right">@Html.ActionLink("Edit", "Edit", new { id = Model.VersionId }) </span>
        }
    </div>
    <div class="panel-body">

        <dl class="dl-horizontal">
            <dt>@Html.LabelFor(model => model.Type)</dt>
            <dd>@Html.DisplayFor(model => model.Type)</dd>
            @if (Model.Released)
            {
                <dt>@Html.LabelFor(model => model.ReleaseDate)</dt>
                <dd>@Html.DisplayFor(model => model.ReleaseDate)</dd>
            }
            else
            {
                <dt>@Html.LabelFor(model => model.ReleasePlan)</dt>
                <dd>@Html.DisplayFor(model => model.ReleasePlan)</dd>
            }
        </dl>
    </div>


</div>



