﻿@model Taugor.PRT.Models.Version
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Version</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MajorVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajorVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinorVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinorVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Build)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Build)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleasePlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleasePlan)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Voltar", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
