﻿@model Taugor.PRT.Models.Version
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util
@{
    ViewBag.Title = "Details";
    if (!ViewBag.Partial)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

@if (!ViewBag.Partial)
{
    <h2>Details</h2>
}
<div>
    @if (!ViewBag.Partial)
    {
        <h4>Version</h4>
        <hr />
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title pull-left">
                @Model.Reference
            </div>

            @if (Request.IsAuthenticated)
            {
                <div class="pull-right">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.VersionId }, new { @class = "btn btn-warning" })
                </div>
            }
            <div class="clearfix"></div>
        </div>
        @if (!Model.IsRoadmap)
        {
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>@Html.LabelFor(model => model.Type)</dt>
                    <dd>@Html.DisplayFor(model => model.Type)</dd>
                    @if (Model.Released)
                    {
                        <dt>@Html.LabelFor(model => model.ReleaseDate)</dt>
                        <dd>@Html.DisplayFor(model => model.ReleaseDate)</dd>
                    }
                    else
                    {
                        <dt>@Html.LabelFor(model => model.ReleasePlan)</dt>
                        <dd>@Html.DisplayFor(model => model.ReleasePlan)</dd>
                    }
                </dl>
            </div>
        }


        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 150px;">Tipo</th>
                    <th>Descrição</th>
                    @if (Model.IsRoadmap)
                    {
                        <th>Previsão</th>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <th>Ações</th>    
                    }
                    
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Taugor.PRT.Models.Change change
                                        in Model.Changes
                        //.Where(k => k.Visibility == Taugor.PRT.Models.Taugor.PRT.Visibility.Public)
                                        )
                    {
                        <tr>
                            <td>@Html.ActionLink(@change.Type.ToString(), "Details", "Change", new { id = change.ChangeId }, null)</td>
                            <td>@Html.ActionLink(@change.Description, "Details", "Change", new { id = change.ChangeId }, null)</td>
                            @if (Model.IsRoadmap)
                            {
                                @*<td>@change.Date</td>*@
                                <td>@change.Date</td>
                            }
                            @if (Request.IsAuthenticated)
                            {
                                <td>
                                    @Html.ActionLink("Editar", "Edit", "Change", new { id = change.ChangeId }, new { @class = "btn btn-warning" })
                                    @Html.ActionLink("Excluir", "Delete", "Change", new { id = change.ChangeId }, new { @class = "btn btn-danger" })
                                </td>
                            }
                        </tr>
                    }

                }
            </tbody>
        </table>


        @if (Request.IsAuthenticated)
        {
            <div class="panel-footer">
                <div class="pull-right">
                    @Html.ActionLink("Adicionar", "Create", "Change", new { VersionId = Model.VersionId }, new { @class = "btn btn-primary", @style = "float: right;" })
                </div>
                <div class="clearfix"></div>
            </div>
        }
    </div>

</div>

@if (!ViewBag.Partial)
{
    <p>
        @Html.ActionLink("Voltar", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
    </p>
}

