﻿@model Taugor.PRT.Models.Version
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Version</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.VersionId)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProductId", String.Empty)
                @Html.ValidationMessageFor(model => model.ProductId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Type, MVCSelectHelper.GetSelectList<VersionType>())
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Visibility, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Visibility, MVCSelectHelper.GetSelectList<Visibility>())
                @Html.ValidationMessageFor(model => model.Visibility)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MajorVersion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MajorVersion)
                @Html.ValidationMessageFor(model => model.MajorVersion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinorVersion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinorVersion)
                @Html.ValidationMessageFor(model => model.MinorVersion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Build, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Build)
                @Html.ValidationMessageFor(model => model.Build)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Revision, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Revision)
                @Html.ValidationMessageFor(model => model.Revision)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReleaseDate)
                @Html.ValidationMessageFor(model => model.ReleaseDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReleasePlan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReleasePlan)
                @Html.ValidationMessageFor(model => model.ReleasePlan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InternalDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InternalDescription)
                @Html.ValidationMessageFor(model => model.InternalDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DevelopmentDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DevelopmentDescription)
                @Html.ValidationMessageFor(model => model.DevelopmentDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
</div>


<script>
    $("input[type!='hidden']").addClass("form-control");
    $("select").addClass("form-control");
    $(".form-control").first().putCursorAtEnd();
</script>
