﻿@model IEnumerable<Taugor.PRT.Models.Version>
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Nova Versão", "Create", new { }, new { @class = "btn btn-primary" })
    </p>
}

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleasePlan)
            </th>
            <th>
                Anexo
            </th>
            <th>
                Ações
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span data-toggle="tooltip" title="Detalhes do Produto">
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.Product.Name).ToString(), "Index", "Product", new { id = item.ProductId }, null)
                    </span>
                </td>
                <td>
                    <span data-toggle="tooltip" title="Detalhes da Versão">
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.FullVersion).ToHtmlString(), "Details", new { id = item.VersionId })
                    </span>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleasePlan)
                </td>
                <td>


                    @if (Request.IsAuthenticated)
                    {
                        <a href="@Url.Action("Upload", "Attachment", new { type = "Versions", itemId = item.VersionId })" class="btn btn-warning" data-toggle="tooltip" title="Adicionar anexo para @item.Reference">
                            <span class="glyphicon glyphicon-open"></span>
                        </a>

                        if (item.HasAttachment)
                        {
                            <a href="@Url.Action("Download", "Attachment", new { type = "Versions", itemId = item.VersionId })" class="btn btn-success" data-toggle="tooltip" title="Baixar anexo de @item.Reference">
                                <span class="glyphicon glyphicon-save"></span>
                            </a>
                            <a href="@Url.Action("Delete", "Attachment", new { type = "Versions", itemId = item.VersionId })" class="btn btn-danger" data-toggle="tooltip" title="Remover anexo de @item.Reference">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        }

                    }
                </td>
                <td>
                    @Html.ActionLink("Ver Detalhes", "Details", new { id = item.VersionId }, new { @class = "btn btn-success" })

                    @if (Request.IsAuthenticated)
                    {
                        <a href="@Url.Action("Create", "Change", new { VersionId = item.VersionId })" class="btn btn-info">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a href="@Url.Action("Edit", "Version", new { id = item.VersionId })" class="btn btn-warning">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="@Url.Action("Delete", "Version", new { id = item.VersionId })" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>

                    }

                </td>
            </tr>
        }

    </table>
</div>