﻿@model IEnumerable<Taugor.PRT.Models.Version>
@using Taugor.PRT.Models
@using Taugor.PRT.Models.ViewModels
@using Taugor.PRT.Models.Enums
@using Taugor.PRT.Util
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstOrDefault().Product.Name</h2>

<h4>Todas Versões do Produto</h4>
<hr />

@foreach (var ver in Model)
{
    
    
    <div id="ver_@ver.FullVersionUnderscore"></div>
    <script>

        $(document).ready(function(){
            $("#ver_@ver.FullVersionUnderscore").load('@Url.Action("Details", new { id = -ver.VersionId })')
        });
    </script>
}

<p>
    @Html.ActionLink("Voltar", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
</p>





